# Android Studio IntelliJ IDEA files
*.iml
.idea/

.gradle
gradle
local.properties

.DS_store

build

# Old git directories
.git.*/

# Files with sensitive information that ought not be devulged to the public
secure-strings.xml
build.signing.gradle


